.main {
  display: flex;
}

.map {
  flex: 1;
}

.sidebar {
  width: 40%;
  height: 100vh;
}

$sidebar-top-height: 2rem;

.sidebar_top {
  height: $sidebar-top-height;
}

.events_list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: calc(100% - $sidebar-top-height);

  .event {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background-color: rgb(228, 235, 255);
    }

    .event_time {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      padding: 0.5em;
    }

    .event_desc {
      padding: 0.5em;
      width: 70%;
      //   display: flex;
      //   justify-content: flex-start;
    }
  }
}

@media screen and (max-width: 900px) {
  .events_list {
    width: 50%;
  }
}
