.territory_tooltip {
  font-weight: 700;
  font-size: 0.9rem;
  background-color: transparent;
  box-shadow: none;
  border: none;
  $shadow_color: white;
  $shadow_blur: 3px;
  text-shadow:
    -1px -1px $shadow_blur $shadow_color,
    1px -1px $shadow_blur $shadow_color,
    -1px 1px $shadow_blur $shadow_color,
    1px 1px $shadow_blur $shadow_color;

  &::after,
  &::before {
    display: none;
  }
}
