.territory_tooltip {
  font-weight: 700;
  font-size: 0.9rem;
  background-color: transparent;
  box-shadow: none;
  border: none;
  $shadow_color: white;
  $shadow_blur: 3px;
  text-shadow:
    -1px -1px $shadow_blur $shadow_color,
    1px -1px $shadow_blur $shadow_color,
    -1px 1px $shadow_blur $shadow_color,
    1px 1px $shadow_blur $shadow_color;

  &::after,
  &::before {
    display: none;
  }
}

.leaflet_tooltip {
  font-weight: 600;
  background-color: transparent;
  box-shadow: none;
  border: none;
  $halo: white;
  text-shadow:
    -1px -1px 0 $halo,
    1px -1px 0 $halo,
    -1px 1px 0 $halo,
    1px 1px 0 $halo;

  &::after,
  &::before {
    display: none;
  }
}

.ruler {
  // color: #fff;
  // font-size: 23px;
  // line-height: 25px;
  // text-align: center;
  // vertical-align: bottom;
  // box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-width: 3px;
  border: 3px solid #fff;
  // opacity: 0.9;
}
